@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('/css/reset.css');

header{
    background-color: #7A247D;
    position: fixed;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

#logo{
    width: 77px;
    height: 50px;
}

#avatarLogo, #cartLogo, #magnifier {
    width: 35px;
    height: 35px;
}

#avatarLogo, #cartLogo{
    margin-left: 1em;
}


#botãoLupa{
    background-color: transparent;
    border: none;
}

#searchBar{
    border-top: none;
    border-left: none;
    border-right: none;
}

#searchText{
    background-color: transparent;
    height: 3em;
    width: 30em;
    border-style:hidden;
    font-family: Bellota Text;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 23px;



    color: #F5C661;
}
input[type="text"]:focus {
    outline:none;
}


#searchBox{
    border-bottom: #F5C661;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    margin-left: 1.5em;
    margin-right: 12em;
}

#botãoFacaUmPedido{
    background-color:  #F5C661;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 23px;
    padding: 0.8em;
    padding-left: 1em;
    padding-right: 1em;

    color: #000000;
}